name: test

on: push

jobs:
  test:
    strategy:
      matrix:
        include:
          - environment: null
            out: 'true null'
          - environment: 'null'
            out: 'string null'
      fail-fast: false
      
    runs-on: [self-hosted, Linux, AWS]
    environment: '${{ matrix.environment }}'
    steps:
      - env:
          OUT: ${{ matrix.out }}
        run: echo "$OUT"
