name: test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: Brightspace/third-party-actions@actions/checkout
      - run: echo 'checkout success'

      - uses: Brightspace/third-party-actions@actions/setup-python
      - run: echo 'python success'
