name: test

on: push

jobs:
  test:
    runs-on: [self-hosted, Linux, AWS]
    steps:
      - id: first
        run: echo "::set-output name=a::aaa"

      - if: contains(fromJson('["a", "b"]'), 'c')
        env:
          LOOK: ${{ steps.first.outputs.b }}
        run: |
          echo "failure: $LOOK"
