name: test

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      environment:
        description: "which"
        required: false
        type: choice
        default: ""
        options: [dev, staging, prod]

jobs:
  dev:
    if: github.event.inputs.environment == '' || github.event.inputs.environment == 'dev'
    runs-on: [self-hosted, Linux, AWS]
    steps:
      - run: echo dev

  staging:
    needs: dev
    if: |
      github.ref == 'refs/heads/main' && (
        (github.event.inputs.environment == '' && needs.dev.result == 'success') ||
        (github.event.inputs.environment == 'staging' && always())
      )
    runs-on: [self-hosted, Linux, AWS]
    steps:
      - run: exit 1

  prod:
    needs: staging
    if: |
      github.ref == 'refs/heads/main' && (
        (github.event.inputs.environment == '' && needs.staging.result == 'success') ||
        (github.event.inputs.environment == 'prod' && always())
      )
    runs-on: [self-hosted, Linux, AWS]
    steps:
      - run: echo prod
