name: test

on: push

jobs:
  test:
    runs-on: [self-hosted, Linux, AWS]
    steps:
      - if: fromJson('{"a":[]}')[0] && always()
        env:
          LOOK: ${{ fromJson('{"a":[]}')[0] }}
        run: |
          echo "failure: $LOOK"

      - if: fromJson('{"b":[]}')[0] && always()
        env:
          LOOK: ${{ fromJson('{"b":[]}')[0] }}
        run: |
          echo "failure: $LOOK"

      - if: fromJson('{"b":[{"x":"y"}]}')[0] && always()
        env:
          LOOK: ${{ fromJson('{"b":[{"x":"y"}]}')[0] }}
        run: |
          echo "failure: $LOOK"
