name: test

on: push

jobs:
  test:
    runs-on: [self-hosted, Linux, AWS]
    steps:
      - if: fromJson('{"nothing":"nono"}').resource_changes == null
        env:
          LOOK: ${{ toJson(fromJson('{"nothing":"nono"}').resource_changes) }}
        run: |
          echo "failure: $LOOK"
