name: test

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      environment:
        description: "which"
        required: false
        type: choice
        default: ""
        options: [dev, staging, prod]

jobs:
  dev:
    if: github.event.inputs.environment == '' || github.event.inputs.environment == 'dev'
    runs-on: [self-hosted, Linux, AWS]
    steps:
      - run: echo dev

  staging:
    needs: dev
    if: github.ref == 'refs/heads/master' && (github.event.inputs.environment == '' || github.event.inputs.environment == 'staging')
    runs-on: [self-hosted, Linux, AWS]
    steps:
      - run: echo staging

  prod:
    needs: staging
    if: github.ref == 'refs/heads/master' && github.event.inputs.environment == '' || github.event.inputs.environment == 'prod'
    runs-on: [self-hosted, Linux, AWS]
    steps:
      - run: echo prod
