name: test

on: push

jobs:
  test:
    runs-on: [self-hosted, Linux, AWS]
    steps:
      - id: first
        env:
          VAR: ${{ fromJson('{"a":"aaa"}').b }}
        run: |
          echo "$VAR"
          echo "::set-output name=var::$VAR"

      - if: fromJson('{"a":"aaa"}').b
        env:
          LOOK: ${{ fromJson('{"a":"aaa"}').b }}
        run: |
          echo "failure: $LOOK"
