name: test

on: push

jobs:
  test:
    runs-on: [self-hosted, Linux, AWS]
    steps:
      - if: toJson(fromJson('{"nothing":"nono"}').resource_changes)
        env:
          LOOK: ${{ toJson(fromJson('{"nothing":"nono"}').resource_changes) }}
        run: echo "$LOOK"
