name: test

on: push

jobs:
  test:
    runs-on: [self-hosted, Linux, AWS]
    steps:
      - name: checkout
        uses: Brightspace/third-party-actions@actions/checkout

      - id: plan
        run: |
          cat "${GITHUB_WORKSPACE}/plan.txt" | sed --silent '/=========/,$p'
          PLAN_JSON=$(cat "${GITHUB_WORKSPACE}/plan.json" | tee "${GITHUB_WORKSPACE}/plan2.json")
          echo "::set-output name=plan_json::${PLAN_JSON}"

      - env:
          PLAN: ${{ steps.plan.outputs.plan_json }}
        run: |
          echo "${PLAN}"
