name: test

on: push

jobs:
  test:
    runs-on: [self-hosted, Linux, AWS]
    steps:
      - name: checkout
        uses: Brightspace/third-party-actions@actions/checkout

      - id: plan
        run: bash ${{ github.workspace }}/plan.sh

      - env:
          PLAN: ${{ steps.plan.outputs.plan_json }}
        run: |
          echo "${PLAN}"
